    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart_items %}
            <tr>
                <td><img height="100" width="100" src="{{ MEDIA_URL }}{{ item.image }}"></td>
                <td>{{ item.name }}</td>
                <td>€{{ item.price }}</td>
                <td>
                    <form method="post" action="{% url 'adjust_item' item.id %}">
                        {% csrf_token %}
                        <input name='quantity' type="number" value="{{item.quantity}}" min="0" max="5">
                        <button type="submit">Adjust</button>
                    </form>
                </td>
                <td>{{item.item_total}}</td>

                <td>                    
                    <form method="post" action="{% url 'delete_item' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Basket Total</td>
            <td>€{{ complete_total }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>