
        {% for item in cart_items %}
        <div class="row cart_items">
        <div class="col-sm-4">
            <h4>Item</h4>
            <img height="100" width="100" src="{{ MEDIA_URL }}{{ item.image }}">
            {{ item.name }}
            {{ item.content }}
        </div>
        <div class="col-sm-2">
            <h4>Price</h4>
            €{{ item.price }}
        </div>
        <div class="col-sm-2">
            <h4>Quantity</h4>
            <form method="post" action="{% url 'adjust_item' item.id %}">
                {% csrf_token %}
                <input class="form-control quantity_form" name='quantity' type="number" value="{{item.quantity}}" min="0" max="5">
                <button class="btn btn-warning" type="submit">Adjust</button>
            </form>
        </div>
        <div class="col-sm-2">
            <h4>Total</h4>
            €{{item.item_total}}
        </div>
        <div class="col-sm-2">
            <br>
                <form  method="post" action="{% url 'delete_item' item.id %}?next={{request.path}}">
                    {% csrf_token %}
                    <button type="submit"class="btn"><i class="far fa-times-circle fa-3x"></i></button>
                </form>

        </div>
        </div>
    {% endfor %}


    
    
    
    
    
        

