h1,h2,h3,h4,h5,h6 {
    font-family: 'Karma', serif;
    color: black;
}

a {
    color: rgb(129,210,211);
    text-decoration: none;
}

a:hover {
    color: #aeaeb0;
    text-decoration: none;
}

.intro {
    font-size: 120%;
    color: red;
}

.inline {
    display: inline-block;
}

.alert-success {
    background-color: rgb(129,210,211);
    text-align: center;
    border-radius: 0;
    border: none;
    color: white;
}

.messages {
   font-family: 'Karma', serif;
}

.header_mobile {
    display: inherit;
}
    
.header_desktop {
    display: none;
}

.product_name {
    letter-spacing: 4px; 
    border-bottom: 1px solid #aeaeb0;
    padding-bottom: 20px;
    margin-top: 0;
}

.product_order {
    border-top: 1px solid #aeaeb0;
}

.form-control {
    display: inline;
    width: 40%;
    margin-top: 5px;
}

.prod_desc {
    padding: 50px;
    border-bottom: 1px solid #aeaeb0;
}

.prod_desc p {
    margin-bottom: 20px;
}

.navbar {
    background-image: none;
    background-color: transparent;
    border:none;
}

.navbar-collapse {
    text-align: center;
}

.navbar-collapse > ul > li > a {
    color: #aeaeb0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

.navbar-header > button > span {
    border-bottom: 2px solid gray;
}

.item_badge {
    margin-left: 5px;
    margin-right: -7px;
    background-color:rgb(129,210,211); 
}

.btn-success {
    background-image: none;
    background-color: rgb(129,210,211);
    border: none;
}

.btn-success:hover {
    background-color: #aeaeb0;
}

.btn-danger {
    border: none;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background-color: transparent;
}

.sort_by {
    text-align: center;
 
    margin-bottom: 30px;
}

.sort_by h5 a {
    color: rgb(129,210,211);
    text-decoration: none;
}

.price_heart h3,
.price_heart form {
    display: inline-block;
}

.price_heart button {
    margin-bottom: 10px;
}

.price_heart svg {
     color: rgb(129,210,211);
}

.x_for_close {
    position: absolute;
    right: 0px;
    top: -10px;
    background-color: transparent;
}

.x_for_close svg {
    color: #aeaeb0;
}

.product_hearts {
    position: absolute;
    right: 20px;
    bottom: 51px;
    color: rgb(129,210,211);
}

.ratings p {
    margin-bottom: 0;
}

#tooltip {
    display: none;
    position: absolute;
    margin-left: -25px;
    margin-top: -30px;
    background-color: rgb(129,210,211);
    border-radius: 5px;
}

#tooltip_remove {
    display: none;
    position: absolute;
    margin-left: -46px;
    margin-top: -25px;
    background-color: rgb(129,210,211);
    border-radius: 5px;
}

.display_inline {
    display: inline_block;
}

.arrow_box {
	position: relative;
	background: white;
	/*border: 1px solid #aeaeb0;*/
	padding: 5px;
	margin: 0px;
}

.arrow_box p {
    padding:0px;
    margin: 0px;
    color: white;
}

.arrow_box a{
    color: white;
    
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	/*border-color: rgba(136, 183, 213, 0);*/
	border-top-color: rgb(129,210,211);
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box:before {
	/*border-color: rgba(194, 225, 245, 0);*/
	/*border-top-color: #aeaeb0;*/
	border-width: 5px;
	margin-left: -5px;
}

.stars_and_reviews_view_product a{
    margin-left: 30px;
}


.wishlist_header {
    text-align: center;
    margin-bottom: 30px;
}

.total_and_checkout {
    text-align: right;
}

@media screen and (min-width:768px) {
    header {
        padding: 2%;
    }
    .header_mobile {
        display: none;
    }
    
    .header_desktop {
        display: inherit;
        text-align: center;
    }
    
    .nav_items {
        text-align: center;
        border-bottom: 1px solid #aeaeb0;
        border-top: 1px solid #aeaeb0;
        padding: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .nav_items a {
        color: #aeaeb0;
        margin-left: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 200;
    }
    
    .nav_items a:hover,
    .floating_cart a:hover{
        color: rgb(129,210,211);
        text-decoration: none;
    }
    
    .floating_cart {
        position: absolute;
        top:0;
        right:0;
        text-align: right;
    }
    
    .floating_cart a {
        color: #aeaeb0;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 2px;
    }
    
    
    .floating_cart > div {
        margin-bottom: 5px;
    }
    
    .floating_cart svg {
        margin-left: 2px;
        margin-right: -4px;
    }
    
    body > header.header_desktop > div:nth-child(1) > div > div > a:nth-child(1) > svg {
        margin-right: -6px;
    }
    
    
    .sort_by {
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .sort_by h5 {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .dropdown-menu {
        left: -60px;
    }
    
    .dropdown-menu>li {
         text-align: right;
         
    }
    
    .dropdown-menu>li>a {
        padding-left: 0;
        color: black;
        font-weight: 200;
    }
    
    .dropdown.open > ul > li > a > svg {
        margin-right: 5px;
    }
    
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        background-color: rgb(129,210,211);
    }
}