{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="wishlist_header">
<h1>Your Wishlist</h1>
<form method="post" action="{% url 'add_all_wishlist_items_to_cart' %}?next={{request.path}}">
    {% csrf_token %}
    <button class="btn btn-success btn-lg" type="submit">Add all to Cart</button>
</form>
<br>
<form method="post" action="{% url 'delete_all_wishlist_items' %}?next={{request.path}}">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Delete all from Wishlist</button>
</form>
</div>
    <div class="container-fluid">
    <div class="row">
    {% for product in wishlist_items %}
                    <div class="col-sm-4">
                        <div class="x_for_close">
                                <form  method="post" action="{% url 'remove_wishlist_item' product.id%}?next={{request.path}}">
                                    {% csrf_token %}
                                    <button type="submit"class="btn"><i class="far fa-times-circle fa-3x"></i></button>
                                </form>
                        </div>
                                
                        <div class="thumbnail">

                            <a href="{% url 'view_product' product.id %}">
                            <img src="{{product.image.url}}" alt="" height="400" width="300">
                            <div class="caption">
                                <h4 class="pull-right">€{{product.price}}</h4>
                                <h4>{{product.name}}
                                </h4>
                                </a>
                                <p>{{product.description|truncatechars:20}}</p>
                            </div>
                <div class="wishlist_items_form">
                <form action="{% url 'add_to_cart' %}?next={{request.path}}" method="post">
                  {% csrf_token %}
                  <input  type="hidden" name="id" value="{{product.id}}"/>
                  Quantity
                  <input class="form-control quantity_form" type="number" name="quantity" value="1" max="5" min="1"/>
                  <input class="btn btn-success" type="submit" value="Add To Cart"/>
                </form>
                </div>
    
                        </div>


                    </div>


    {% endfor %}
    </div>
    </div>

    
{% endblock %}