{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}

    <div class="container-fluid">
    <div class="row">
    {% for product in products %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a href="{% url 'view_product' product.id %}">
                        <div class="thumbnail">
                            <img src="{{product.image.url}}" alt="" height="400" width="300">
                            <div class="caption">
                                <h4 class="pull-right">€{{product.price}}</h4>
                                <h4>{{product.name}}
                                </h4>
                                </a>
                                <p>{{product.description|truncatechars:20}}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{product.reviews_received.all|length}} reviews</p>
                {% if product.stars %}
                  {% for star in product.stars %}
                    <i class="fas fa-star"></i>
                  {% endfor %}
                  {% if product.needs_half_star %}
                    <i class="fa fa-star-half"></i>
                  {% endif %}   
                  {{product.average_rating}} avg rating
                {% else %}
                  <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>No reviews yet</p>
                {% endif %}
                            </div>
                        </div>
                        
                    </div>
    {% if forloop.counter|divisibleby:3 %}
        </div><div class="row">
    {% endif %}
    {% endfor %}
    </div>
    </div>

    
{% endblock %}