{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
  <div class="row prod_desc">
    <div class=col-sm-8>
      <div class="col-sm-3">
        {% for image in product_images %}
            <img width="70%" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{image.image}}" alt=""><br>
        {% endfor %}
      </div>
      <div class="col-sm-9">
        <img width="70%" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.image}}" alt="">
      </div>

    </div>
    <div class=col-sm-4>
      <h2 class="product_name">{{product.name}}</h2>
      <div class="price_heart">
      <h3>€{{product.price}} </h3>
      {% if not in_wishlist  %}
        <form action="{% url 'add_to_wishlist' %}?next={{request.path}}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{product.id}}"/>
          <button type="submit" class="btn heart_button">
            <i class="far fa-heart fa-2x" type="submit"></i>
          </button>
        </form>
      {% else  %}
        <form action="{% url 'remove_wishlist_item' product.id %}?next={{request.path}}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn heart_button">
            <i class="fas fa-heart fa-2x" type="submit"></i>
                    
          </button>
        </form>
        
      {% endif %}
      </div>
     
      
      <p class="card-text">{{product.description}}</p>
      <p>
        {% if product.stars %}
          {% for star in product.stars %}
            <i class="fas fa-star"></i>
          {% endfor %}
          {% if product.needs_half_star %}
            <i class="fa fa-star-half"></i>
          {% endif %}   
          {{product.average_rating}} avg rating
        {% else %}
          <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>No reviews yet</p>
        {% endif %}
        
        
      </p>
      <p><a>See Reviews</a></p>
      <p class="product_order">
            <form action="{% url 'add_to_cart' %}?next={{request.path}}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{product.id}}"/>
              Quantity
              <input type="number" name="quantity" value="1" max="5" min="1"/>
              <input class="btn btn-success" type="submit" value="Add To Cart"/>
            </form>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
        {% include "reviews/_show_reviews.html" %}

        {% if user.is_authenticated %}
          {% include "reviews/_add_review_form.html" %}
        {% else %}
          <p><a href="{% url 'login' %}?next={{request.path}}">Login</a> or <a href="{% url 'register' %}?next={{request.path}}">Register</a> to Leave a Review</p>
        {% endif %}
    </div> 
  </div>

</div>

{% endblock content %}